body{
  background:#121212;
  color:white;
  font-family:Arial;
  padding:20px;
}

h1{
  text-align:center;
}

.search-box{
  display:flex;
  justify-content:center;
  margin-bottom:30px;
}

input{
  width:300px;
  padding:12px;
  border:none;
  border-radius:10px;
  outline:none;
  font-size:16px;
}

button{
  padding:12px 20px;
  margin-left:10px;
  border:none;
  border-radius:10px;
  background:#1DB954;
  color:white;
  cursor:pointer;
  font-weight:bold;
}

#resultado{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
  gap:20px;
}

.card{
  background:#1e1e1e;
  padding:15px;
  border-radius:15px;
  text-align:center;
  transition:0.3s;
  cursor:pointer;
}

.card:hover{
  transform:scale(1.03);
}

img{
  width:100%;
  border-radius:10px;
}

audio{
  width:100%;
  margin-top:10px;
}

/* Quitar animación nativa del audio */
audio::-webkit-media-controls-panel {
  background-color: transparent;
}

audio::-webkit-media-controls-loading-panel {
  display: none !important;
}

/* LOADER */
#loader{
  text-align:center;
  font-size:20px;
  margin-top:20px;
}

/* DETALLE */
#detalle{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
  color:white;
  justify-content:center;
  align-items:center;
  padding:20px;
}

.detalle-card{
  background:#222;
  padding:20px;
  border-radius:20px;
  text-align:center;
  max-width:350px;
  margin:auto;
}

.detalle-card img{
  width:100%;
  border-radius:10px;
}

.detalle-card button{
  background:red;
  color:white;
  border:none;
  padding:10px 15px;
  border-radius:10px;
  cursor:pointer;
  margin-bottom:10px;
}

